.list {
  list-style: none;
}

.navigation__list {
  display: flex;
}

.centralizer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.game__field {
  display: grid;
  justify-content: center;
  align-items: center;
  
}

.field__cell {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100px;
  height: 100px;

  /* background-color: lightgray; */
  border: 1px solid gray;
}

.field__cell:nth-child(-n + 4) {
  border-top-width: 2px;
}

.field__cell_empty {
  color: lightgray;

  background-color: lightgray;
}

.field-size_3x3 {
  grid: repeat(3, auto) / repeat(3, auto);
}

.field-size_4x4 {
  grid: repeat(4, auto) / repeat(4, auto);
}

.field-size_5x5 {
  grid: repeat(5, auto) / repeat(5, auto);
}

.field-size_6x6 {
  grid: repeat(6, auto) / repeat(6, auto);
}

.field-size_7x7 {
  grid: repeat(7, auto) / repeat(7, auto);
}

.field-size_8x8 {
  grid: repeat(8, auto) / repeat(8, auto);
}