html {
  font-size: 16px;
  font-family: "Lato-Regular", "Arial", "sans-serif";
  font-weight: 400;
}

.overflow-hidden {
  overflow: hidden;
}

.list {
  padding: 0;
  list-style: none;
}

.moveable {
  position: absolute;
  z-index: 999;
}

.hidden {
  visibility: hidden;
}

.shadow {
  box-shadow: 1px 1px 10px 4px red;
}

.animated {
  transition: 0.2s all ease-out;
}

.navigation__list {
  display: flex;
  justify-content: center;

  font-size: 14px;
}

.navigation__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__button {
  text-transform: uppercase;
}

.centralizer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__paragraph {
  margin-right: 20px;
}

.game__field {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;

  user-select: none;
  border: 1px solid gray;
  background-color: lightgray;
}

.game__description {
  display: flex;
  justify-content: center;
}

.field__cell {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100px;
  height: 100px;

  /* background-color: lightgray; */
  border: 1px solid gray;
  border-radius: 10px;
  background-color: brown;

  &:nth-child(-n + 4) {
    border-top-width: 2px;
  }
}

.field__cell_empty {
  color: lightgray;

  background-color: transparent;
  border: 0;
}

.field-size_3x3 {
  grid: repeat(3, auto) / repeat(3, auto);
}

.field-size_4x4 {
  grid: repeat(4, auto) / repeat(4, auto);
}

.field-size_5x5 {
  grid: repeat(5, auto) / repeat(5, auto);
}

.field-size_6x6 {
  grid: repeat(6, auto) / repeat(6, auto);
}

.field-size_7x7 {
  grid: repeat(7, auto) / repeat(7, auto);
}

.field-size_8x8 {
  grid: repeat(8, auto) / repeat(8, auto);
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size__description {
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
