html {
  font-size: 16px;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: 400;

  @media (max-width: 900px) {
    font-size: 15px;
  }

  @media (max-width: 700px) {
    font-size: 14px;
  }

  @media (max-width: 550px) {
    font-size: 13px;
  }

  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.list {
  padding: 0;
  list-style: none;
}

.moveable {
  position: absolute;
  z-index: 999;
}

.button {
  padding: 5px;

  color: white;

  border: 2px solid rgb(180, 173, 173);
  border-radius: 10px;

  background-color: gray;

  &:focus,
  &:hover,
  &:active {
    border-color: rgba(153, 159, 185, 0.8);

    background-color: #666d89;
    outline: 0;

    cursor: pointer;
  }
}

.hidden {
  visibility: hidden;
}

.animated {
  transition: 0.2s all ease-out;
}

header {
  background-color: rgb(102,109,137);
  background: linear-gradient(180deg, rgba(73,73,73,1) 0%, rgb(102,109,137) 100%);
}

.navigation__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 10px;
  padding-bottom: 0;

  font-size: 14px;
}

.navigation__item {
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__button {
  min-width: 120px;
  text-transform: uppercase;
}

.centralizer {
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 111px);

  background-color: rgb(73, 73, 73);
  background-image: url("../assets/img/about-bg.png");

  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__paragraph {
  margin-right: 20px;
}

.game__paragraph:last-child {
  margin-right: 0;
}

.game__turn {
  display: inline-block;
  min-width: 50px;
}

.game__field {
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 20px;
  padding: 1px;

  border: 10px ridge rgba(153, 159, 185, 0.8);
  border-radius: 10px;
  background-color: lightgray;

  user-select: none;
}

.size,
.game__description {
  color: rgba(255, 255, 255, 0.8);

  -webkit-text-stroke: 1px rgba(153, 159, 185, 0.8);
}

.size .size__select,
.size__select option {
  color: rgb(106, 108, 121);

  background-color: lightgray;

  &:focus,
  &:hover,
  &:active {
    color: white;

    border-color: rgba(153, 159, 185, 0.8);

    background-color: #666d89;
    outline: 0;

    cursor: pointer;
  }
}

.game__description {
  display: flex;
  justify-content: center;
}

.field__cell {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  max-width: 80px;
  max-height: 80px;

  color: white;
  border: 4px groove gray;
  border-radius: 10px;
  background-color: brown;

  cursor: pointer;

  &:nth-child(-n + 4) {
    border-top-width: 2px;
  }
}

.field__cell_empty {
  color: transparent;

  background-color: transparent;
  border: 0;

  cursor: default;
}

.shadow {
  background-color: #666d89;
  opacity: 0.6;
  box-shadow: 1px 1px 5px 5px #666d89;
}

.field-size_3x3 {
  grid: repeat(3, auto) / repeat(3, auto);

  & .field__cell {
    font-size: 30px;
    width: calc(90vw / 3);
    height: calc(90vw / 3);
  }
}

.cell-size_3x3 {
  font-size: 30px;
  width: calc(90vw / 3);
  height: calc(90vw / 3);
}

.field-size_4x4 {
  grid: repeat(4, auto) / repeat(4, auto);

  & .field__cell {
    font-size: 30px;
    width: calc(90vw / 4);
    height: calc(90vw / 4);
  }
}

.cell-size_4x4 {
  font-size: 30px;
  width: calc(90vw / 4);
  height: calc(90vw / 4);
}

.field-size_5x5 {
  grid: repeat(5, auto) / repeat(5, auto);

  & .field__cell {
    font-size: 28px;
    width: calc(90vw / 5);
    height: calc(90vw / 5);
  }
}

.cell-size_5x5 {
  font-size: 28px;
  width: calc(90vw / 5);
  height: calc(90vw / 5);
}

.field-size_6x6 {
  grid: repeat(6, auto) / repeat(6, auto);

  & .field__cell {
    font-size: 22px;
    width: calc(90vw / 6);
    height: calc(90vw / 6);
  }
}

.cell-size_6x6 {
  font-size: 22px;
  width: calc(90vw / 6);
  height: calc(90vw / 6);
}

.field-size_7x7 {
  grid: repeat(7, auto) / repeat(7, auto);

  & .field__cell {
    font-size: 18px;
    width: calc(90vw / 7);
    height: calc(90vw / 7);
  }
}

.cell-size_7x7 {
  font-size: 18px;
  width: calc(90vw / 7);
  height: calc(90vw / 7);
}

.field-size_8x8 {
  grid: repeat(8, auto) / repeat(8, auto);

  & .field__cell {
    font-size: 16px;
    width: calc(90vw / 8);
    height: calc(90vw / 8);
  }
}

.cell-size_8x8 {
  font-size: 16px;
  width: calc(90vw / 8);
  height: calc(90vw / 8);
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size p {
  margin-top: 0;
}

.size__description {
  margin-right: 20px;
}

.size__select {
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  color: rgba(255, 255, 255, 0.8);

  -webkit-text-stroke: 1px rgba(153, 159, 185, 0.8);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.8);

  background-color: rgb(102,109,137);
  background: linear-gradient(180deg, rgb(102,109,137) 0%, rgba(73,73,73,1) 100%);
}
