html {
  font-size: 16px;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: 400;
  min-height: 100%;

  @media (max-width: 900px) {
    font-size: 15px;
  }

  @media (max-width: 700px) {
    font-size: 14px;
  }

  @media (max-width: 550px) {
    font-size: 13px;
  }

  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.list {
  padding: 0;
  list-style: none;
}

.moveable {
  position: absolute;
  z-index: 999;
}

.button {
  padding: 5px;

  border: 1px solid red;
  border-radius: 5px;

  background-color: greenyellow;
}

.hidden {
  visibility: hidden;
}

.shadow {
  box-shadow: 1px 1px 10px 4px red;
}

.animated {
  transition: 0.2s all ease-out;
}

header {
  background-color: indigo;
}

.navigation__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 10px;
  padding-bottom: 0;

  font-size: 14px;
}

.navigation__item {
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__button {
  min-width: 120px;
  text-transform: uppercase;
}

.centralizer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main {
  background-color: darkgrey;
  background-image: url("../assets/img/about-bg.png");

  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game__paragraph {
  margin-right: 20px;
}

.game__field {
  display: grid;
  justify-content: center;
  align-items: center;
  // max-width: 1000px;
  // width: 95vw;
  margin: auto;

  border: 2px double brown;
  border-radius: 10px;
  background-color: lightgray;

  user-select: none;
}

.game__description {
  display: flex;
  justify-content: center;
}

.field__cell {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  max-width: 100px;
  max-height: 100px;

  color: white;
  /* background-color: lightgray; */
  border: 2px solid gray;
  border-radius: 10px;
  background-color: brown;

  cursor: pointer;

  &:nth-child(-n + 4) {
    border-top-width: 2px;
  }
}

.field__cell_empty {
  color: lightgray;

  background-color: transparent;
  border: 0;

  cursor: default;
}

.field-size_3x3 {
  grid: repeat(3, auto) / repeat(3, auto);

  & .field__cell {
    width: calc(95vw / 3);
    height: calc(95vw / 3);
  }
}

.cell-size_3x3 {
  width: calc(95vw / 3);
  height: calc(95vw / 3);
}

.field-size_4x4 {
  grid: repeat(4, auto) / repeat(4, auto);

  & .field__cell {
    width: calc(95vw / 4);
    height: calc(95vw / 4);
  }
}

.cell-size_4x4 {
  width: calc(95vw / 4);
  height: calc(95vw / 4);
}

.field-size_5x5 {
  grid: repeat(5, auto) / repeat(5, auto);

  & .field__cell {
    width: calc(95vw / 5);
    height: calc(95vw / 5);
  }
}

.cell-size_5x5 {
  width: calc(95vw / 5);
  height: calc(95vw / 5);
}

.field-size_6x6 {
  grid: repeat(6, auto) / repeat(6, auto);

  & .field__cell {
    width: calc(95vw / 6);
    height: calc(95vw / 6);
  }
}

.cell-size_6x6 {
  width: calc(95vw / 6);
  height: calc(95vw / 6);
}

.field-size_7x7 {
  grid: repeat(7, auto) / repeat(7, auto);

  & .field__cell {
    width: calc(95vw / 7);
    height: calc(95vw / 7);
  }
}

.cell-size_7x7 {
  width: calc(95vw / 7);
  height: calc(95vw / 7);
}

.field-size_8x8 {
  grid: repeat(8, auto) / repeat(8, auto);

  & .field__cell {
    width: calc(95vw / 8);
    height: calc(95vw / 8);
  }
}

.cell-size_8x8 {
  width: calc(95vw / 8);
  height: calc(95vw / 8);
}

.size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size__description {
  margin-right: 20px;
}

.size__select {
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  background-color: lightblue;
}
